.color-fire-brick{
    background-color: #AE392C;
}

.color-licorice{
    background-color: #1E0F0F;
}

.color-school-bus-yellow{
    background-color: #FCDC10;
}

.color-coyote{
    background-color: #895b24;
}

body{
    background-color: #1E0F0F;
}

.custom-border-bottom {
    border-bottom: 2px solid #FCDC10;
}

.custom-border-top {
    border-top: 2px solid #FCDC10;
}

.btn-fire {
    background-color: #AE392C; /* Cambia esto al color deseado */
    color: white; /* Color del texto */
}
.btn-fire:hover {
    background-color: #895b24; /* Color al pasar el ratón */
}

.enlace {
    color: white;
}

.enlace:hover{
    color: #FCDC10;
}

.enlace-cerrar {
    color: #AE392C;
}

.enlace-cerar:hover{
    color: #FCDC10;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    width: 150px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

.input-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}
